<h3>Login Page</h3>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input type="text" formControlName="username"  required>
    <div *ngIf="submitted" class="invalid">
      <div *ngIf=" form.username.invalid" >Username is required</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password" required>
    <div  *ngIf="submitted" class="invalid">
      <div *ngIf="form.password.invalid">Password is required</div>
    </div>
  </label>
    <button title="submit" type="submit">Submit</button>
    <span class="error" *ngIf="error">{{error}}</span>
</form>

<mat-spinner *ngIf="submitted" class="spinner" [diameter]="30"></mat-spinner>
