<h3 mat-dialog-title class="title">Detail Page</h3>

<form mat-dialog-content [formGroup]="detailForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <label>
      callId:
      <input type="text" formControlName="callId" readonly>
    </label>
    <label>
      callStart:
      <input type="text" formControlName="callStart" readonly>
    </label>
  </div>
  <div class="container">
    <label>
      *agent:
      <input type="text" formControlName="agent" required>
    </label>
    <label>
      *wrapupName:
      <input type="text" formControlName="wrapupName" required>
    </label>
  </div>
  <div mat-dialog-actions class="actionButtons">
    <button mat-button type="submit" title="save records" >Save</button>
  </div>
</form>

