#masterContainer
{
  padding: 10px;
}

table {
  width: 90%;
  margin: 3% auto;
}

mat-icon {
  position: absolute;
  right:5px;
  top:10px;
  cursor: pointer;
}

.mat-row {
  &:hover
  {
    background-color: #eee;
    color: #ccc;
    cursor: pointer;
  }
}

.d-inline-block {
  position: absolute;
  top: 0px;
  right: 1px;
}

.dropdown-menu {
  padding: 0;
}

.menuDropDown {
  cursor: pointer;
  .dropdown-item {
    background-color: #eee;
    &:hover
    {
      color: deepskyblue;
    }
    span {
      font-weight: bold;
    }
  }
}

button.logout {
  cursor: pointer;
}

.spinner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


